<h1>Pandas</h1>
Pandas is a opensource python library prividing high performance data manuplation and analysis tools using it's powerful data structures.

In [47]:
import pandas as pd
import numpy as np

<h2>Series</h2>
Series is a single dimensional data structure with homogenous data type values.<br>
Also Series comes with index or are one single column where as list is just a list

In [48]:
series = pd.Series([10,20,40,50], index = ["a" , "b","c", "d"])
lists = [1,2,3]
print(lists)
series

[1, 2, 3]

a    10
b    20
c    40
d    50
dtype: int64

<h1>Dataframe</h1>
Two dimensional object with heterogenous data type value.

In [109]:
listz = [['Ravi' , 10],['Ram' , 20],["Raj", 30]]
print(listz)

df = pd.DataFrame(listz, columns=['Name', "Age"], index=["a", "b", 'c'])
df

[['Ravi', 10], ['Ram', 20], ['Raj', 30]]

   Name  Age
a  Ravi   10
b   Ram   20
c   Raj   30

<h2>Accessing DataFrame</h2>

In [110]:
dfa = df['Name']
dfb = df[['Name']]
print(type(dfa))
print(type(dfb))
dfa

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

a    Ravi
b     Ram
c     Raj
Name: Name, dtype: object

dfa is a series because we are directly accessing column values, whereas dfb is a DataFrame because we are accessing a total column

<h2>Dictionary to DataFrame</h2>

In [111]:
dictz = {"Name": ["Rahul", 'Rio'], "Age" : [20,40]}
print(dictz)

dfd = pd.DataFrame(dictz)
dfd

{'Name': ['Rahul', 'Rio'], 'Age': [20, 40]}

    Name  Age
0  Rahul   20
1    Rio   40

## Array to DataFrame

In [112]:
arr = np.array([[1,2,3] , [5,6,7]])
print(arr)

dfa = pd.DataFrame(arr)
print(dfa)

## Now dataframe into array
arrd = np.array(dfa)
arrd

[[1 2 3]
 [5 6 7]]
   0  1  2
0  1  2  3
1  5  6  7

array([[1, 2, 3],
       [5, 6, 7]])

## Range Data

Syntax: pd.date_range(date, period , freq)<br>
date format: YYYYMMDD<br>
period: it is the no of days or months or years<br>
frequency(freq): it is the format i.e Month(M), Year(Y), Day(D)

In [113]:
from datetime import datetime

ranges = pd.date_range(start=datetime.now(), periods=10, freq='Y')
type(ranges)
ranges

DatetimeIndex(['2021-12-31 07:45:19.465158', '2022-12-31 07:45:19.465158',
               '2023-12-31 07:45:19.465158', '2024-12-31 07:45:19.465158',
               '2025-12-31 07:45:19.465158', '2026-12-31 07:45:19.465158',
               '2027-12-31 07:45:19.465158', '2028-12-31 07:45:19.465158',
               '2029-12-31 07:45:19.465158', '2030-12-31 07:45:19.465158'],
              dtype='datetime64[ns]', freq='A-DEC')

## Head Tail Func
- pd.head() # Returns the first 5 values and to change these 5 values we can pass n in pd.head(3) it will return first 3 values.
- pd.tail() # Returns the last 5 values and to change these 5 values we can pass n in pd.tail(3) it will return last 3 values.

In [114]:
# Create Df
df = np.random.randn(10,4)
print(df)
df = pd.DataFrame(df , index = ranges, columns = ["Random 1", "Random 2", "Random 3", "Random 4"])
print(df)
print(df.shape)
print(df.columns)
print(df.info())
print(df.head(3))
print("#####")
print(df.tail(3))

[[ 1.35540319e+00  1.45920100e-01  9.21038896e-01 -3.15261509e-01]
 [-2.05009682e+00 -5.71032547e-01 -1.40546478e-01  4.69941322e-01]
 [ 2.32544896e-03  1.38591762e+00 -8.27134546e-01 -1.34047138e+00]
 [ 1.83028973e-01 -3.66375993e-01 -9.79770345e-01 -8.41677055e-01]
 [-1.78214822e-01  8.39161417e-01  2.17558966e+00 -1.90398143e+00]
 [-2.76027681e-01 -9.67558622e-01  1.29680585e+00  7.29661241e-03]
 [-1.30566696e+00 -1.48809801e+00 -7.19796120e-01  2.43102818e+00]
 [ 4.49101814e-01 -9.88914230e-01  1.65559519e-01 -1.10337024e+00]
 [-1.00550061e+00 -5.79807864e-01 -1.16727360e+00 -4.52313371e-01]
 [-3.20510753e+00 -8.96847587e-01 -1.37349902e-01 -2.75454774e-01]]
                            Random 1  Random 2  Random 3  Random 4
2021-12-31 07:45:19.465158  1.355403  0.145920  0.921039 -0.315262
2022-12-31 07:45:19.465158 -2.050097 -0.571033 -0.140546  0.469941
2023-12-31 07:45:19.465158  0.002325  1.385918 -0.827135 -1.340471
2024-12-31 07:45:19.465158  0.183029 -0.366376 -0.979770 -0.841677
2025-12-31 07:45:19.465158 -0.178215  0.839161  2.175590 -1.903981
2026-12-31 07:45:19.465158 -0.276028 -0.967559  1.296806  0.007297
2027-12-31 07:45:19.465158 -1.305667 -1.488098 -0.719796  2.431028
2028-12-31 07:45:19.465158  0.449102 -0.988914  0.165560 -1.103370
2029-12-31 07:45:19.465158 -1.005501 -0.579808 -1.167274 -0.452313
2030-12-31 07:45:19.465158 -3.205108 -0.896848 -0.137350 -0.275455
(10, 4)
Index(['Random 1', 'Random 2', 'Random 3', 'Random 4'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2021-12-31 07:45:19.465158 to 2030-12-31 07:45:19.465158
Freq: A-DEC
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Random 1  10 non-null     float64
 1   Random 2  10 non-null     float64
 2   Random 3  10 non-null     float64
 3   Random 4  10 non-null     float64
dtypes: float64(4)
memory usage: 400.0 bytes
None
                            Random 1  Random 2  Random 3  Random 4
2021-12-31 07:45:19.465158  1.355403  0.145920  0.921039 -0.315262
2022-12-31 07:45:19.465158 -2.050097 -0.571033 -0.140546  0.469941
2023-12-31 07:45:19.465158  0.002325  1.385918 -0.827135 -1.340471
#####
                            Random 1  Random 2  Random 3  Random 4
2028-12-31 07:45:19.465158  0.449102 -0.988914  0.165560 -1.103370
2029-12-31 07:45:19.465158 -1.005501 -0.579808 -1.167274 -0.452313
2030-12-31 07:45:19.465158 -3.205108 -0.896848 -0.137350 -0.275455

## Null values

In [115]:
print(df.isnull()) # null values are there or not
print(df.isnull().sum()) # sum of null values in each column
df.dropna() # by default it'll delete the entire row there nan value is present but to delete the column we can use df.dropna(axis=1) by default axis is 0

                            Random 1  Random 2  Random 3  Random 4
2021-12-31 07:45:19.465158     False     False     False     False
2022-12-31 07:45:19.465158     False     False     False     False
2023-12-31 07:45:19.465158     False     False     False     False
2024-12-31 07:45:19.465158     False     False     False     False
2025-12-31 07:45:19.465158     False     False     False     False
2026-12-31 07:45:19.465158     False     False     False     False
2027-12-31 07:45:19.465158     False     False     False     False
2028-12-31 07:45:19.465158     False     False     False     False
2029-12-31 07:45:19.465158     False     False     False     False
2030-12-31 07:45:19.465158     False     False     False     False
Random 1    0
Random 2    0
Random 3    0
Random 4    0
dtype: int64

                            Random 1  Random 2  Random 3  Random 4
2021-12-31 07:45:19.465158  1.355403  0.145920  0.921039 -0.315262
2022-12-31 07:45:19.465158 -2.050097 -0.571033 -0.140546  0.469941
2023-12-31 07:45:19.465158  0.002325  1.385918 -0.827135 -1.340471
2024-12-31 07:45:19.465158  0.183029 -0.366376 -0.979770 -0.841677
2025-12-31 07:45:19.465158 -0.178215  0.839161  2.175590 -1.903981
2026-12-31 07:45:19.465158 -0.276028 -0.967559  1.296806  0.007297
2027-12-31 07:45:19.465158 -1.305667 -1.488098 -0.719796  2.431028
2028-12-31 07:45:19.465158  0.449102 -0.988914  0.165560 -1.103370
2029-12-31 07:45:19.465158 -1.005501 -0.579808 -1.167274 -0.452313
2030-12-31 07:45:19.465158 -3.205108 -0.896848 -0.137350 -0.275455

## Values

In [116]:
print(df.value_counts()) # it'll return the no. of occurence of the data

# Same for column
print(df['Random 1'].value_counts())
print(df.corr()) # to find the relation between adjusent column

Random 1   Random 2   Random 3   Random 4
 1.355403   0.145920   0.921039  -0.315262    1
 0.449102  -0.988914   0.165560  -1.103370    1
 0.183029  -0.366376  -0.979770  -0.841677    1
 0.002325   1.385918  -0.827135  -1.340471    1
-0.178215   0.839161   2.175590  -1.903981    1
-0.276028  -0.967559   1.296806   0.007297    1
-1.005501  -0.579808  -1.167274  -0.452313    1
-1.305667  -1.488098  -0.719796   2.431028    1
-2.050097  -0.571033  -0.140546   0.469941    1
-3.205108  -0.896848  -0.137350  -0.275455    1
dtype: int64
 1.355403    1
 0.183029    1
 0.449102    1
-3.205108    1
 0.002325    1
-1.005501    1
-0.178215    1
-1.305667    1
-2.050097    1
-0.276028    1
Name: Random 1, dtype: int64
          Random 1  Random 2  Random 3  Random 4
Random 1  1.000000  0.402800  0.275279 -0.391601
Random 2  0.402800  1.000000  0.217059 -0.695434
Random 3  0.275279  0.217059  1.000000 -0.317311
Random 4 -0.391601 -0.695434 -0.317311  1.000000

In [118]:
df.describe() ## Gives the summary of the columnwise data

        Random 1   Random 2   Random 3   Random 4
count  10.000000  10.000000  10.000000  10.000000
mean   -0.603075  -0.348764   0.058712  -0.332426
std     1.322232   0.891894   1.096434   1.190398
min    -3.205108  -1.488098  -1.167274  -1.903981
25%    -1.230625  -0.949881  -0.800300  -1.037947
50%    -0.227121  -0.575420  -0.138948  -0.383787
75%     0.137853   0.017846   0.732169  -0.063391
max     1.355403   1.385918   2.175590   2.431028

## Slicing

In [121]:
df[0:2]

                            Random 1  Random 2  Random 3  Random 4
2021-12-31 07:45:19.465158  1.355403  0.145920  0.921039 -0.315262
2022-12-31 07:45:19.465158 -2.050097 -0.571033 -0.140546  0.469941